h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: Red;
    text-shadow: 3px 3px 5px blue, -3px -3px 5px yellow;
}

h2{color: yellowgreen;}
nav{color: grey;}
body {
    background-image:url('../Images/car4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   }
   nav a {color: white;
    text-decoration:underline;}
    nav a:hover {
        color: yellowgreen;
    }
    a.play-now { color:orangered;
    text-decoration:overline;}
    a.play-now:hover {
        color:silver;}
   div{color: white;}
   nav {
    width: 100%;
    justify-content: center;
    position:absolute;
    padding: 30px 0;
    display:flex;
    text-align:center;
    top: 0;
    left: 0;
    right: 0;
    column-gap: 10px;
    grid-template-columns:auto;
    background-color: blue;

   }
   
button{
    color:yellowgreen;
    background-color:blueviolet;
    font-size:large;
}
form{color: white;

}
canvas{
    color: white;
}

    #gameCanvas {
        border: 2px solid red;
        display: block;
        margin: 0 auto;
        background-image: url('../Images/bcr.jpg');
        background-size: cover;
        background-position: center; 
    }
table{
    color: gold;
}
span{
    color:aqua;
}
#usernameDisplay{
    color:white;
}